*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFEFEF;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: auto;
}

header.header{
    width: 100%;
    height: auto;
    background-color: #EFEFEF;
    position: fixed;
    z-index: 999;
    -webkit-box-shadow: 0px 5px 15px -8px rgba(69,69,69,1);
-moz-box-shadow: 0px 5px 15px -8px rgba(69,69,69,1);
box-shadow: 0px 5px 15px -8px rgba(69,69,69,1);
}

.and-header{
    height: auto;
    display: flex;
    margin-left: 5%;
    align-items: center;
    padding: 1% 0;
}



.and-logo{
    margin-right: 2%;
}


.and-logo img{
    width: 157px;
}

.and-header-img{
    padding-top: 4%;
    height: auto;
}

.and-tit-header-img{
    position: absolute;
    left: 5%;
    top:24%;
    transition: .3s;
}

.and-header-img h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.and-header-img p{
    color: #FFFFFF;
    font-size: 34px;
    font-weight: lighter;
}

.and-header-img img{
    width: 100%;
    height: auto;
}

.and-header-mob{
    display: none;
}

.and-header-mob320{
    display: none;
}


section.section{
    margin:0 2% 0 5%;
    min-height: 400px;
    padding: 3% 0 0 0;
}

section.section-arauco{
    margin:0 0 0 5%;
    padding: 0;
    color:#575757;
}


.and-pub-obj{
    width: 70%;
    min-height: 178px;
    /* height: auto; */
    background-color:#0075BE;
    color: #FFFFFF;
    padding: 0 10% 4% 10%;
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 10%;
}

.and-pub-2{
    width: 45%;
    height: 120px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    border: 4px solid #FFFFFF;
    z-index: 10;
    position: relative;
    background-color:#0075BE;
    color: #FFFFFF;
    text-align: center;
}

.and-pub-2 p{
    margin: 0 auto;
    font-weight: 700;
}

.and-objetivo{
    padding-top: 4%;
}

.and-azul1{
    color:#0075BE;
}
.and-azul2{
    color:#003A70;
}

.and-naranjo{
    color: #e76819;
}

.and-azul3{
    color:#695b50;
    font-size: 33px;
    font-weight: 700;
}

.h1-pgp{
    color:#0075BE;
    font-weight: 700;
}

.h1-pgp span{
    color: #beb921;
}

.h3-pgp{
    color:#695b50;
    font-weight: 700;
}


.h4-pgp{
    color:#575757;
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
}

.h4-pgp span{
    font-weight: 700;
    color: #beb921;
    font-size: 1.5rem;
}

.h5-pgp{
    color:#695b50;
    font-weight: 700;
}

.and-icon34{
    font-size: 34px;
}
.and-icon48{
    font-size: 48px;
}
.and-icon52{
    font-size: 52px;
}
.and-icon56{
    font-size: 56px;
}

.and-separador10{
    width: 100%;
    height: 10px;
}

.and-separador20{
    width: 100%;
    height: 20px;
}

.and-separador30{
    width: 100%;
    height: 30px;
}


.and-btn{
    width: 88%;
    height: 180px;
    font-size: 20px;
    background-color: #FFFFFF;
    border-radius: 0px;
    border: none;
    margin: 3% 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(191,191,191,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(191,191,191,1);
    box-shadow: 0px 0px 5px 0px rgba(191,191,191,1);
}

.and-btn:hover{
    background-color: #d9eaf5;
    transition: .3s;
    cursor: pointer;
}

.and-btn:focus{
    border: 2px solid #0075BE;
    transition: .3s;
}

.and-btn img{
    width: 56px;
    height: auto;
    color: #0075BE;
}



.and-indica{
    /* width: 84%; */
    background-color: #0075BE;
    color: #FFFFFF;
    padding: 2% 8%;
}

.and-indica-box{
    text-align: center;
    height: 100px !important;
    padding-top: .7%;
}
.and-indica-box h1{
font-size: 2rem;
font-weight: 700;
}
.and-indica-box-border{
    border-right: 1px solid #FFFFFF;
}


.and-box-noticia{
    width: 95%;
    height: auto;
    margin: 0 3% 0 0;
    background-color: #DAF0FD;
}

.and-box-noticia img{
    width: 100%;
    height: auto;
}

.and-txt-box-noticia{
    padding:10px 20px 40px 20px;
}

.and-txt-box-noticia h2{
    color:#003A70;
    font-size: 1.7rem !important;
    font-weight: 700;
}

a.and-btn-noticia{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #0075BE;
    color: #0075BE;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

a.and-btn-noticia:hover{
    color: #8ac0e1;
    transition: .3s;;
}


.and-ico-canales{
    text-align: center;
}

.and-ico-canales img{
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

.and-claves{
    margin: 0 auto;
}

.and-hito{
    text-align: center;
    padding: 0;
}

.and-hito-head{
    padding: 5% 0 0 0;
    font-weight: 700;
}

.and-hito-head p{
    font-size: 20px;
}

.and-hito-num{
    width: 40px;
    height: auto;
    border-radius: 50%;
    background-color:#0075BE;
    color: #FFFFFF;
    margin: 0 auto;
    font-weight: 700;
    font-size: 28px;
    padding: 2%;
    margin-top: -27px;
}
.and-hito-foot{
    background-color: #0075BE;
    color: #FFFFFF;
    min-height: 200px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.and-hito-foot-border-radius{
    border-radius: 0 0 30px 30px ;
}

.and-hito-foot p{
    font-size: 20px;
    font-weight: 700;
}

.linea1{
    width: 100%;
    height: 10px;
    background-color: #0075BE;
}

.border-line1{
    border-radius: 10px 0 0 10px;
}
.border-line2{
    border-radius:0 10px 10px 0;
}

.tit-fecha-comunica{
    color: #FFFFFF;
    padding: 1% 1% 1% 2%;
    min-height: 64px;
}

.tit-fecha-comunica h5{
    font-weight: 700;
}

.foot-comunica{
    width: 100%;
    height: 125px;
    padding: 0 0 5% 0;
    border-radius: 0 0 15px 15px;
    margin-top: -92px;
}

.foot-list-comunica{
    width: 80%;
    padding:9% 5% 2% 5%;
    margin: 0 auto;
    background-color: #e6e6e6;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    margin-top: -19px;
    min-height: 250px;
}

.and-bullet-comunica{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #EFEFEF;
    position: relative;
    z-index: 100;
    margin: 0 auto;
}

.bg-comunica1{
    background-color: #e76819;
}
.bg-comunica2{
    background-color: #beb921;
}
.bg-comunica3{
    background-color: #0075BE
}
.bg-comunica4{
    background-color: #695b50
}

/* :::::NOTICIAS:::: */

section.section-noticias{
    margin:0 2% 0 5%;
    min-height: 400px;
    padding: 6% 0 0 0;
}

section.section-noticias h1{
    color: #0075BE;
    font-weight: 700;
    font-size: 2rem;
}

.fecha-noticia{
    padding-bottom: 1rem;
    font-weight: 700;
    color: #695b50;
}

.and-migapan{
    width: 100%;
    height: auto;
    padding: 0 0 1% 0;
    font-size: 14px;
}

.and-migapan ul{
    margin: 0;
    padding:0;
}

.and-migapan ul li{
    list-style: none;
    display: inline;
    padding-right: 3px;
    color: #575757;
}
.and-migapan ul li a{
    color: #0075BE;
    text-decoration: none;
}
.and-migapan ul li a:hover{
    text-decoration: underline;
}

.modal{
    z-index: 10000000000000;
}
.modal-dialog{
    max-width: 780px !important;
    padding: 4% 0 0 0;
}

.modal-header{
    border-bottom: none;
}

.and-accidente{
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-top: -30px;
    padding: 25% 5% 5% 5%;
    min-height: 325px;
}

.and-accidente h1{
    font-size: 1rem;
    font-weight: 700;
}

.and-num-accidente{
    width: 67px;
    height: auto;
    border-radius: 50%;
    padding: 10px;
    background-color: #FFFFFF;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    z-index: 100;
    text-align: center;
}

.and-orange{
    background-color: #e76819;
    color: #FFFFFF;
}
.and-verde{
    background-color:#beb921;
    color: #FFFFFF;
}
.and-verde2{
    background-color:#deda8c;
}
.and-gris{
    background-color: #695b50;
    color: #FFFFFF;
}
.and-gris2{
    background-color: #ddd1ac;
}

.and-txt-naranjo{
    color: #e76819;
}

.and-txt-verde{
    color: #beb921;
}

.and-txt-verde2{
    color: #deda8c;
}

.and-txt-gris{
    color: #695b50;
}

.and-txt-gris2{
    color: #ddd1ac;
}

.and-borde-naranjo{
    border:8px solid #e76819;
}

.and-borde-verde{
    border:8px solid #beb921;
}

.and-borde-verde2{
    border:8px solid #deda8c;
}

.and-borde-gris{
    border:8px solid #695b50;
}

.and-borde-gris2{
    border:8px solid #ddd1ac;
}

.borde-verde{
    width: 100%;
    height: 5px;
    background-color:#beb921;
}

footer.footer{
    width: 100%;
    height: auto;
    background-color:#0075BE;
}

.and-footer{
    display: flex;
    justify-content: left;
}

.and-footer img{
    width: 170px;
    height: auto;
    margin-left: 5%;
    padding: 1% 0;
}


  /*:::::::::::::GRILLA::::::::::::::*/

  .and-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.and-container-fluid{
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.and-row{
    display: flex;
    width: 100%;
    height: auto;
}

.and-col-1{
    width: 8.3%;
    height: auto;
}

.and-col-2{
    width: 16.666%;
    height: auto;
}

.and-col-3{
    width: 25%;
    height: auto;
}

.and-col-4{
    width: 33.333%;
    height: auto;
}

.and-col-5{
    width: 41.66%;
    height: auto;
}

.and-col-6{
    width: 50%;
    height: auto;
}

.and-col-7{
    width: 58.33%;
    height: auto;
}

.and-col-8{
    width: 66.666%;
    height: auto;
}

.and-col-9{
    width: 75%;
    height: auto;
}

.and-col-10{
    width: 83.333%;
    height: auto;
}

.and-col-11{
    width: 91.666%;
    height: auto;
}

.and-col-12{
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1684px){
    .and-tit-header-img{
        top:26%;
        transition: .3s;
    }

    .foot-list-comunica{
        min-height: 300px;
    }
}

@media only screen and (max-width: 1490px){

    .and-tit-header-img{
        top:21%;
        transition: .3s;
    }

    .and-pub-2{
        width: 55%;
    }

    .and-pub-obj{
        width: 80%;
        min-height: 200px;
    }

    }

@media only screen and (max-width: 1280px){

    .and-tit-header-img{
        top:17.7%;
        transition: .3s;
    }

    .foot-list-comunica{
        min-height: 350px;
    }

    .and-accidente{
        min-height: 400px;
    }

    }
    
    @media only screen and (max-width: 1200px){
    
    .and-tit-header-img{
        top:15%;
        transition: .3s;
    }
    
    .and-header-img h1{
        font-size: 38px;
        transition: .3s;
    }
    
    .and-header-img h2{
        font-size: 23px;
        font-weight: lighter;
        transition: .3s;
    }

    .and-pub-2{
        width: 55%;
    }

    .and-pub-obj{
        width: 80%;
        min-height: 220px;
    }

    .foot-list-comunica{
        min-height: 390px;
    }

    .and-accidente{
        min-height: 500px;
    }
    
    }

@media only screen and (max-width: 1024px){

    .foot-list-comunica{
        min-height: 450px;
    }

    .and-tit-header-img{
        top:20%;
        transition: .3s;
    }

    .and-btn{
        width: 98%;
    }

    .and-row{
        display: block;
        width: 100%;
        height: auto;
        transition: .5s;
    }

    .and-col-1,
    .and-col-2,
    .and-col-3,
    .and-col-4,
    .and-col-5,
    .and-col-6,
    .and-col-7,
    .and-col-8,
    .and-col-9,
    .and-col-10,and
    .and-col-11,
    .and-col-12{
        width: 100%;
        height: auto;
        transition: .5s;
    }

    .and-indica-box{
        padding-top: 3%;
        height: auto !important;
    }

    .and-indica-box-border{
        border-right: none;
        border-bottom:1px solid #FFFFFF;
    }

    .and-box-noticia{
        margin: 0 0 3% 0;
    }
}




@media only screen and (max-width: 990px){

    .foot-list-comunica{
        min-height: 490px;
    }

    header.header{
        position:relative;
    }
    
    .and-header-img{
        padding-top: 0;
        height: auto;
    }

.and-tit-header-img{
    top:10%;
    transition: .3s;
}

.and-header-img h1{
    font-size: 33px;
    transition: .3s;
    margin-bottom: 0;
}

.and-header-img p{
    font-size: 22px;
    font-weight: lighter;
    transition: .3s;
    margin-top: -0.5rem;
    margin-bottom: 0;
}

.and-pub-2{
    width: 65%;
}

.and-pub-obj{
    width: 90%;
    min-height: 280px;
}

}

@media only screen and (max-width: 810px){
    .and-tit-header-img{
        top:11%;
        transition: .3s;
    }

    .and-pub-2{
        width: 77%;
        height: 100px;
    }    

    .and-pub-obj{
        width: auto;
        min-height: 100px;  
}  
}


@media only screen and (max-width: 800px){
    .and-tit-header-img{
        top:9%;
        transition: .3s;
    }      
}    
@media only screen and (max-width: 768px){
    .and-tit-header-img{
        top:11%;
        transition: .3s;
    }

    .linea1 {
        display: none;
    }

    .and-hito-foot,
    .and-comunica{
        margin-bottom: 20%;
    }

    section.section-arauco{
        margin:0 5% 0 5%;
    }

    .and-hito-num {
        width: 68px;
        height: auto;
        border-radius: 50%;
        background-color: #0075BE;
        color: #FFFFFF;
        margin: 0 auto;
        font-weight: 700;
        font-size: 28px !important;
        padding: 2%;
        margin-top: -27px;
    }

    .and-hito-foot p{
        font-size: 16px;
    }

    .foot-list-comunica{
        min-height: 250px;
    }

    .and-accidente{
        padding: 8% 5% 1% 5%;
        min-height: auto;
        margin-bottom: 7%;
    }
    
}

@media only screen and (max-width: 680px){

    .and-hito-num {
        width: 68px;
        height: auto;
        border-radius: 50%;
        background-color: #0075BE;
        color: #FFFFFF;
        margin: 0 auto;
        font-weight: 700;
        font-size: 28px !important;
        padding: 2%;
        margin-top: -27px;
    }

    .and-header-desk{
    display: none;
}
    .and-header-mob{
    display: block;
}

.and-header-mob320{
    display: none;
}

.and-tit-header-img{
    top:11%;
    transition: .3s;
}

.and-header-img h1{
    font-size: 21px;
    transition: .3s;
}

.and-header-img h2{
    font-size: 16px;
    font-weight: lighter;
    transition: .3s;
}

.and-footer img{
    padding: 5% 0;
}

}

@media only screen and (max-width: 540px){
    .and-tit-header-img{
        top:14%;
        transition: .3s;
    }

    .and-hito-num {
        width: 62px;
        height: auto;
        border-radius: 50%;
        background-color: #0075BE;
        color: #FFFFFF;
        margin: 0 auto;
        font-weight: 700;
        font-size: 28px !important;
        padding: 2%;
        margin-top: -27px;
    }


.and-accidente h1 {
    font-size: 1.5rem;
}
}

@media only screen and (max-width: 450px){

    .and-header-desk{
    display: none;
}
    .and-header-mob{
    display: none;
}

.and-header-mob320{
    display: block;
}


.and-tit-header-img{
    top:11%;
    transition: .3s;
}

.and-header-img h1{
    font-size: 23px;
    transition: .3s;
}

.and-header-img h2{
    font-size: 18px;
    font-weight: lighter;
    transition: .3s;
}

.and-header-img{
    padding-top: 0;
    height: auto;
}

}

@media only screen and (max-width: 395px){



.and-tit-header-img{
    top:12%;
    transition: .3s;
}

.and-header-img h1{
    font-size: 20px;
    transition: .3s;
}

.and-header-img h2{
    font-size: 16px;
    font-weight: lighter;
    transition: .3s;
}

.and-hito-num {
    width: 49px;
    font-size: 28px !important;
    padding: 1%;
    margin-top: -27px;
}

}

@media only screen and (max-width: 375px){

/* .and-tit-header-img{
    top:13%;
    transition: .3s;
} */

}

@media only screen and (max-width: 360px){

.and-tit-header-img{
    top:13%;
    transition: .3s;
}

}


@media only screen and (max-width: 340px){

.and-tit-header-img{
    top:9%;
    transition: .3s;
}

.and-header-img h1{
    font-size: 18px;
    transition: .3s;
}

.and-header-img h2{
    font-size: 14px;
    font-weight: lighter;
    transition: .3s;
}

}

@media only screen and (max-width: 300px){

.and-tit-header-img{
    top:10%;
    transition: .3s;
}

.and-header-img h1{
    font-size: 16px;
    transition: .3s;
}

.and-header-img h2{
    font-size: 14px;
    font-weight: lighter;
    transition: .3s;
}

}

.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color:transparent; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
/* 	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
	z-index: 99;
    border-radius: 50%;
}
.btn-flotante:hover {
	background-color: transparent; /* Color de fondo al pasar el cursor */
/* 	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3); */
	transform: translateY(-7px);
}

.btn-flotante img{
    width: 110px;
    height: 110px;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}